body {
  background: black;
  /* align-items: center;
  justify-content: center; */
}

html, body {
    height: 100%;
    margin: 0;
}

.grid {
  width: 250px;
  height: 250px;
  border: 1px solid rgba(243, 207, 0, 0.863);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.snake {
    background: rgb(9, 171, 192);
}
.apple {
    background: rgb(240, 2, 81);
    border-radius: 20px;
}

.pause, .bttop, .btbottom, .btleft, .btright {
    background-color: #808080;
    border: 5px solid white;
    color: white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}


.grid div {
    width: 20px;
    height: 20px;
    border:1px black solid;
    box-sizing:border-box 
}  



.popup {
  background: rgb(32, 31, 31);
  width: 100px;
  height: 100px;
  position: fixed;
  top: 100px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
    grid-template-columns: repeat(2, 2fr);
}
  
.grid-container > div {
background-color: black;
text-align: center;
padding: 20px 0;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif
} */